body{
	background-color: black;
	text-align: center;
	font-family: Verdana
}

h1{
	color: white;
	font-size: 50px;

}

h2{
	color: white;
	font-weight: 300;
	font-size: 42px;
}

p{
	color: gray;
	font-size: 21px;
}

a{
	color: aquamarine;
	font-size: 16px;
}

.footer{
	text-align: right; == $0
	color: blue;
}